.label {
  margin-top: 30px;
  width: 100%;
  background: #1f2a48;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  padding: 20px 0;

  .cards {
    padding: 5px;
    display: grid;
    grid-template-areas:
          'avatar static static';

    @media screen and (max-width: 1200px) {
      grid-template-areas:
          'avatar'
          'static';
      .avatar {
        margin-bottom: 10px;
      }

      .info {
        .title {
          display: grid;
          grid-template-areas:
          "login login"
          "ref date" !important;
          gap: 10px;
          grid-template-columns: 1fr 1.5fr;

          .login {
            margin: 0 auto;
            font-size: 36px;
          }

          .date {
            margin: 0 !important;
            text-align: center;
            font-size: 18px !important;
          }

          .ref {
            text-align: center;
          }
        }

        .bio {
          text-align: center;
          margin-top: 8px !important;
        }
      }

    }

    .avatar {
      grid-area: avatar;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      img {
        width: 100px;
        border-radius: 100%;
      }
    }

    .info {
      margin: 0 20px 0 20px;

      .title {
        display: grid;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 1px;
        grid-template-areas:
          "login date"
          "ref .";

        .login {
          grid-area: login;
        }

        .date {
          grid-area: date;
          margin-left: 20px;
          opacity: 0.6;
          font-size: 18px;
        }

        .ref {
          grid-area: ref;
          font-size: 20px;
          outline: none;
          text-decoration: none;
          color: #0378fb;
        }
      }

      .bio {
        width: auto;
        margin-top: 20px;
        opacity: 0.6;
        font-size: 26px;
      }

      .statistic {
        grid-area: static;
        width: auto;
        height: auto;
        padding: 5px 10px;
        margin-top: 30px;
        background: #141c2f;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .column {
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
