.header {
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  .toggleLight {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;

    img {
      cursor: pointer;
      width: 30px;
      filter: invert(100%);
      margin-left: 10px;
    }
  }
}